.projects{
    min-height:100vh;
    padding:80px 8%;
    background:#0f172a;
    color:white;
}

.project-title{
    text-align:center;
    font-size:50px;
    margin-bottom:60px;
}

.project-title span{
    color:#38bdf8;
}

.project-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:30px;
}

.project-card{

    background:#1e293b;

    padding:30px;

    border-radius:15px;

    transition:.4s;

    border:1px solid transparent;
}

.project-card:hover{

    transform:translateY(-10px);

    border-color:#38bdf8;

}

.project-card h2{

    margin-bottom:20px;

    color:#38bdf8;

}

.project-card p{

    color:#cbd5e1;

    line-height:1.7;

    margin-bottom:25px;

}

.tech{

    display:flex;

    flex-wrap:wrap;

    gap:10px;

    margin-bottom:25px;

}

.tech span{

    background:#334155;

    padding:8px 16px;

    border-radius:20px;

    font-size:14px;

}

.project-links{

    display:flex;

    gap:20px;

}

.project-links a{

    color:#38bdf8;

    text-decoration:none;

    font-weight:600;

}

.project-links a:hover{

    text-decoration:underline;

}